.cover__link {
    background-size: cover;
    text-decoration: none;
    color: #fff;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    position: relative;
}

.cover__link:before {
    content: '';
    position: absolute;
    opacity: 0.3;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cover__link:hover:before {
    opacity: 0.5;
}