.intro__text {
    font-size: 16px;
    line-height: 163%;
    max-width: 690px;
    margin-top: 35px;
}

@media screen and (max-width: 768px) {
    .intro__text {
        max-width: calc(100% - 24px * 2);
    }
}