.lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    max-width: 640px;
    margin-top: 17px;
    margin-bottom: 0;
}

