.website__link {
    color: #fff;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    display: block;
    margin-top: 5px;
    margin-bottom: 6px;
}
